.conatiner{
        margin:20px;
}
.bg{
        background-image:url(assets/background-image.jpeg);
        /*background-size:cover;*/
        background-repeat:no-repeat;
        border-radius:20px;
        
      }
.gradientbg{
        background-image:linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
        border-radius:20px;
        /*background-size:cover;*/
        opacity:0.8;
}
.righte{
        text-align:right;
}
.contentcolor{
        color:white;
        margin-left:-10px;
        font-size:14px;
}
.sunbg{
        background:white;
        border-radius: 5px;
        text-align:center;
        margin-bottom:20px;
}
.weather-column-color{
        color:white;
}
.location-bar{
        margin-top:30px;
        border-radius:30px;
        background-image: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
        color:white;
        text-align: center;
        padding-top:10px;
        font-size:14px;
}
.aside-margin{
        margin-left:10px;
}
.locationcenter{
        vertical-align:middle;
}
.sun-top{
        margin-top:50px;
}
.main-content-color{
        color:white;
}
.windspace{
        margin-bottom:20px;
}
.center{
        text-align:center;
}
.end-right{
        text-align:right;
}
.blackbg{
        background-color: black;
}
.datenplace{
        font-size:14px;
        line-height:1px;
}
.today{
        font-size:50px;
        font-weight:700;
}
.bold{
   font-weight:bold;
} 
.space{
        padding-top:20px;
}
.cut{
        border-radius:20px;
}
.align-right{
        text-align: right;
        margin-left:10px;
}
.icons{
        margin-top:10px;
}
.weeks{
        font-size:14px;
}
.card1pad{
    padding-left:5px; 
}
.temp{
        font-size:14px;
}
.endleft{
        margin-left:-6px;
}
.shrink{
        margin-right:-10px;
}