.sma11h1{
    font-size: 32px;
    text-align:center;
}
.smallh2{
    font-size:24px;
}
.smallp{
    font-size: 14px;
}

.medh1{
    font-size: 36px;
    text-align:center;
}
.medh2{
    font-size:28px;
}
.medp{
    font-size: 16px;
    color:gray;
}

.largeh1{
    font-size: 40px;
    text-align:center;
}
.largeh2{
    font-size:32px;
}
.largep{
    font-size: 18px;
    color:blue;
}