 @import url('https://fonts.googleapis.com/css?family=Amatic+SC|Dancing+Script&display=swap');
 h1{
    text-align: center;
}
h2{
    color:skyblue;
}
.email{
    font-family:"Dancing Script";
    color:blue;
    font-weight:bold;
    font-size:18px;
}
.shift{
    text-align:right;
}
.edu{
    font-size:30px;
    font-weight:bold;
}