 @import url('https://fonts.googleapis.com/css?family=Dancing Scrip|Amatic SCt&display=swap');
h1{
    text-align: center;
}
h2{
    color:skyblue;
}
.email{
    font-family:"Dancing Script";
    color:blue;
    font-style:italic;
}
.shift{
    text-align:right;
}