@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Creepster&family=Dancing+Script&family=Ewert&family=Fruktur&family=Monoton&family=Black+Ops+One&family=Bungee&family=monsterrat:wght@600&display=swap');

.mainContainerBg {
    background-image: url(https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=brandi-redd-aJTiW00qqtI-unsplash.jpg);
    background-size: cover;
}

body{
    margin:0;
}


.nameStyles {
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    border-bottom: 2px solid white;
    width:70px;
}

.intro {
    padding: 200px 100px;
}

.introText {
    font-size: 30px;
    font-family: 'Bungee', cursive;
}

h2 {
    color: #173b6c;
}

.aboutMe {
    font-family: 'sans-serif';
    font-size: 18px;
}

.aboutBorder {
    border-left: 3px solid dodgerblue;
}

.profileImg {
    height: 200px;
    -webkit-clip-path: circle(50% at 50% 50%);
    border-radius: 50%;
    border: 5px solid white;
}

h3 {
    font-family: 'monsterrat';
    font-weight: 700;
}

.blueUnderline {
    border-bottom: 2px solid dodgerblue;
}

.btnColor {
    background-color: dodgerblue;
    color: white;
}

.btnBorder {
    border: 1px solid dodgerblue;
    color: dodgerblue;
}

.grayText {
    color: gray;
    font-size: 18px;
}

.skills {
    font-size: 20px;
}

.myProjectsBg {
    /*background-color: #f3f3f3;*/
    padding-bottom: 50px;
}

.pagination a {
    color: dodgerblue;
    float: left;
    padding: 20px 10px;
    font-size: 35px;
    transition: background-color .3s;
}

.myProjects {
    font-size: 30px;
}

.cardRadius {
    border-radius: 15px;
}

.blueColor {
    color:dodgerblue;
}

.myEducation {
    font-size: 30px;
}

.whiteColor {
    color: white;
}

.hobbyBg {
    background-color: #f3f3f3;
}

.myHobbies {
    font-size: 30px;
}

.contact {
    font-size: 30px;
}

.contactDetails {
    font-size: 20px;
}

.follow {
    font-weight: bold;
    color: dodgerblue;
    font-size: 22px;
    margin-left:90px;
}

.socialIcon {
    height: 40px;
    width: 40px;
}

.blueBg {
    background-color:dodgerblue;
}


.footerBg {
    background-color:#2d3a51;
}

.logoImg{
    filter:invert(100%);
    color:white;
}

.footerLinks {
    font-size: 20px;
    color: white;
    text-align:center;
}

@media only all and (min-width:1024px) {

    .footerLinks{
        text-align:right;
        margin-right:10%
    }

}

.footerIcons{
        margin-left:10%
}

.footerIcons a:hover{
    background-color: #424e62;
}