@import url('https://fonts.googleapis.com/css?family=Monofett|Monoton|Oswald|Lacquer&display=swap');
          p{
               font-size:20px;
               font-weight:Normal;
               font-style:Normal;
               color:Orange;
               font-family:"monospace";
           }
           h1{
            text-align:center;
            font-style:Normal;
            color:blue;
            font-family:"Monofett";
           }
           h2{
            color:green;
            font-family:"Monoton";
           }
           ol{
               font-size:20px;
               font-weight:Normal;
               font-style:monospace;
               color:Red;
           }
           ul{
               font-size:20px;
               font-weight:Normal;
               font-family:"Lacquer";
               color:purple;
           }
           body{
             background-color:White;
           }