body{
    background-color:#f5f5f5;
    padding-left:5%;
}
.proj{
    font-size:30px;
}
.dec{
    border-bottom:1px solid rgb(30, 130, 255);
}
.bol{
    font-weight:bold;
}
.box{
    display:inline-block;
    width:23%;
    height:23%;
    background-color:white;
    border-radius:7%;
    padding-left:5%;
}
h1{
    color:rgb(30, 130, 255);
    font-size:180%;
}
h2{
    font-size:130%;
}
.end{
    margin-right:5%;
}

