.height-1{
    height:50px;
}
.height-2{
    height:75px;
}
.color-1{
    background-color: #4a86e8;
}
.color-2{
    background-color: #5a57bb;
}
.color-3{
    background-color: #09885a;
}
.color-4{
    background-color: #ff9900
}
