.header{
    font-size:40px;
}
.bold{
    font-weight:bold;
}
.underline{
    border-bottom:4px solid dodgerblue;   
}
.tech{
    padding-top:30px;
    text-align:center;
    background:dodgerblue;
    color:white;
    /*margin:20px;*/
    /*margin-bottom:20px;*/                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    op:30px;
}
.gap{
    margin-bottom:20px;
}
