
 .bg{
     background-color:#f5f6f6;
 }
 
 .footerLinks{
     font-size:14px;
 }
 .footerTitle{
     font-size:22px;
     font-weight:bold;
     color:gray;
 }

.footerBg{
    background-color: lightgray;
}