      body{
        margin:0;
        height:719px;
        background-image:url(assets/bg-image.jpg);
        background-repeat:no-repeat;
        background-position:center;
        background-size:cover;
      }
      .img{
        text-align:center;
        padding-top:15%;
      }
      .clip{
        -webkit-clip-path: circle(33.6% at 50% 50%);
        clip-path: circle(33.6% at 50% 50%);
        margin-left:35%;
      }
      .color{
        color:white;
        text-align:center;
      }
      .box{
        width:90%;
        box-sizing:border-box;
        background:white;
        border-radius:50px;
        padding: 20px 150px 20px 150px;
        margin-left:50px;
        margin-top:105px;
        /*border:1px solid blue;*/
      }
      span{
        margin-right:30px;
      }
      .border{
        width:312px;
        height:312px;
        background:white;
      }
      .gap{
        margin:6px;
      }