.logoImg{
    filter:invert(100%);
    border-radius:55%;
}

.searchButtonBox{
    border:1px solid gray;
    margin-left:170px;
}

.exploreBarFont{
    font-size:14px;
}

.topicsLinkUnderline{
    border-bottom:2px solid dodgerblue;
    color:black;
}

.topicsBg{
    background-color:ghostwhite;
}

.hashBox{
    height:60px;
    width:60px;
    background-color: Aliceblue;
    padding-top:20px;
}

.featuredTopicsFont{
    font-size:16px;
}

.footerLinksBg{
    background:Aliceblue;
    font-size:12px;
    border:1px solid black;
}