.logoImg{
     background-color:orange;
     border-radius: 50%;
     padding:6px;
}

li{
    display: inline-block;
    list-style-type: none;
}

.headerLinks{
     color: black;
     opacity: 0.5;
}

.opacity{
    opacity: 0.5
}

.companyServiceSection{
    margin-top:100px;
}

.orangeColorButton{
    background-color: orange;
    color:white;
}

.blockBg{
    background-color: Aliceblue;
}

.orangeColorLine{
    height:2px;
    width:40px;
    background-color: orange;
    margin-bottom: 40px;
}

.simpleAndHandyProcessSpacing{
    padding: 90px 0px 140px 0px;
}

.deliverySection{
    margin-bottom:60px;
}

.ourTeamSpacing{
    padding:50px 0px;
}

.contactBg{
    padding:15px;
    background-color: white;
    border-radius:50%;
}

.profileImg{
    border-radius: 10px;
}

.testimonialSection{
    margin-bottom: 100px;
}

