.line1{
    display:block;
    background-color:purple;
    height:50px;
    margin-bottom:10px;
}
.line2{
    display:inline-block;
    background-color:blue;
    height:50px;
    width:49%;
    margin-right:2%;
    margin-bottom:10px;
}
.line3{
    display:inline-block;
    background-color:purple;
    height:50px;
    width:32%;
    margin-right:2%;
    margin-bottom: 10px;
}
.line4{
    display:inline-block;
    background-color:blue;
    height:50px;
    width:23.5%;
    margin-right:2%;
    margin-bottom: 10px;
}
.line5{
    display:inline-block;
    background-color:purple;
    height:50px;
    width:6.5%;
    margin-right:2%;
    margin-bottom: 10px;
}
.marg{
    margin-right:0%;
}