body {
    background-color: #f7fbff;
    padding:0px;
}

.heading {
    text-align: center;
    padding:10px;
}

p {
    padding: 10px 0px;
    background-color: orange;
    margin-bottom: 10px;
    font-size: 14px;
    border: 2px solid black;
}

@media all and (min-width:576px) {

    p {
        padding: 20px 0px;
        background-color: #00c8ff;
        margin-bottom: 20px;
        font-size: 16px;
        border: 2px dashed black;
    }
    
    body{
        padding:10px;
    }
}

@media all and (min-width:768px) {

    p {
        padding: 30px 0px;
        background-color: #246caf;
        margin-bottom: 30px;
        font-size: 18px;
        border: 2px dotted black;
        color:white;
    }
}

@media all and (min-width:992px) {

    p {
        padding: 40px 0px;
        background-color: #7985ff;
        margin-bottom: 40px;
        font-size: 20px;
        border: 5px solid black;
        color:white;
        text-align: center;
    }
}

@media all and (min-width:1200px) {

    p {
        padding: 50px 0px;
        background-color: white;
        margin-bottom: 50px;
        font-size: 22px;
        text-align: center;
        border:0;
        color:black;
    }
}