*{
    box-sizing: border-box;
}

.box{
    font-size:20px;
    color:white;
    text-align: center;
    padding:10px;
}

.container{
    display: flex;
    
}


.box1{
    background-color:#f00;
    flex-basis:300px;
    flex-grow:10;
    flex-shrink:5;

}

.box2{
    background-color:#0f0;
    flex-basis:300px;
    flex-grow:1;
    flex-shrink:1;

}

.box3{
    background-color:#00f;

}

.box4{
    background-color:pink;
    flex:3.5;
}

.box5{
    background-color:yellow;

}

.box6{
    background-color:skyblue;
}

.box7{
    background-color:orange;

}

.box8{
    background-color:dodgerblue;
}

.box9{
    background-color:royalblue;
}

.box10{
    background-color:tomato;
}

