.center{
    text-align:center;
}
.start{
    margin-top:10px;
}
p{
    font-size:14px;
}

.gap1{
    margin-top:40px;
}

.gap2{
    margin-bottom:30px;
}
.font{
    font-size:16px;
}
.copyright{
    font-size:12px;
    margin-left:5px;
}
.price{
    font-size:25px;
}
.month{
    color:gray;
}
.linespace{
    line-height:0.4;
}
.data-gap{
    margin-top:10px;
}
.cardgapabove{
    margin-top:10px;
}
.cardgap{
    margin-top:-20px;
}