body{
    background-color:#ecf3ff;
}
.header{
     font-size:20px;
     font-weight:bold;
     margin-bottom:20px;
}
.center-align{
    text-align:center;
}
.p1{
    margin-bottom:10px;
}
.p2{
    margin-bottom:10px;
}
.domain1{
    display:inline-block;
    width:60px;
    height:20px;
    background-color:slateblue;
    border: 0px solid blue;
    border-radius:10px;
    color:white;
    margin-top:15px;
}
.domain2{
    display:inline-block;
    width:120px;
    height:20px;
    background-color:white;
    border:1px solid gray;
    border-radius:10px;
    vertical-align:bottom;
    opacity:0.6;
}
.domain3{
    display:inline-block;
    background-color:white;
    width:140px;
    height:20px;
    border:1px solid black;
    border-radius:10px;
}
.sub-domain{
    display:inline-block;
    width:300px;
    height:40px;
    margin-top:3%;
    margin-right:10px;
    background-color:white;
    padding-left:10px;
    padding-top:15px;
    font-family:600px;
}
.sub-color2{
    border-left:5px solid grey;
}
.sub-color1{
    border-left:5px solid skyblue;
}
.footer{
   color:white;
   height:22px;
   width:200px;
   margin:auto;
   background:orange;
   padding-top:5px;
}
.zeromargin{
    margin-right:0;
}
.line{
    text-align:center;
}
.space{
    margin-top:6%;
    vertical-align:bottom; 
}
.main{
    margin-right:15px;
}
.image1-gap{
    padding-left:80px;
}
.image2-gap{
    padding-left:40px;
}
.image3-gap{
    padding-left:95px;
}
.image4-gap{
    padding-left:115px;
}
.end-note{
    font-size:12px;
}
.soon{
    font-size:10px;
}