@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Creepster&family=Dancing+Script&family=Ewert&family=Fruktur&family=Monoton&family=Black+Ops+One&family=Bungee&display=swap');

.mainContainerBg {
    background-image: linear-gradient(green,blue);
}

nav a:hover {
  border-bottom: 2px solid dodgerblue;
}

.intro {
    padding: 150px 100px;
}

.introText {
    font-size: 30px;
    font-family: 'Bungee Shade', cursive;
    font-weight: bold;
    color: white;
}

.aboutMe{
    font-family: 'Creepster';
    font-size:18px;
}

.aboutBorder {
    border-left: 3px solid dodgerblue;
}

.profileImg {
    height: 200px;
    -webkit-clip-path: circle(50% at 50% 50%);
    border-radius: 50%;
    border: 5px solid white;
}

.headingFont{
    font-family: 'Black Ops One'
}

h3{
    font-family:'Fruktur';
}

h4{
    font-family: 'Bungee';
}

h5{
    font-family: 'Monoton';
}

.blueUnderline {
    border-bottom: 2px solid dodgerblue;
}

.btnColor {
    background-color: dodgerblue;
    color: white;
}

.btnBorder {
    border: 1px solid dodgerblue;
    color: dodgerblue;
}

.grayText {
    color: gray;
    font-size: 24px;
    font-family: 'Dancing Script', cursive;
}

.skills {
    font-size: 20px;
}

.myProjectsBg {
    background-color: #f3f3f3;
}

.pagination a {
    color: dodgerblue;
    float: left;
    padding: 20px 10px;
    font-size: 35px;
    transition: background-color .3s;
}

.myProjects {
    font-size: 30px;
}

.cardRadius {
    border-radius: 15px;
}

.blueColor {
    color: dodgerblue;
}

.myEducation {
    font-size: 30px;
}

.whiteColor {
    color: white;
}

.hobbyBg {
    background-color: #f3f3f3;
}

.myHobbies {
    font-size: 30px;
}

.contact {
    font-size: 30px;
}

.contactDetails {
    font-size: 20px;
}

.follow {
    font-weight: bold;
    color: dodgerblue;
    font-size: 25px;
}

.socialIcon {
    height: 40px;
    width: 40px;
}

.blueBg {
    background-color: cadetblue;
}

.footerLinks {
    font-size: 20px;
    color: white;
}

.footerBg{
    background-image: linear-gradient(navy,skyblue,royalblue,slateblue);
}
